<?xml version="1.0"?>
<!--
/**
 * config.xml
 *  - set-up helper
 *
 * @category    Sitewards
 * @contact     magento@sitewards.com
 * @copyright   Copyright (c) 2013 Sitewards GmbH (http://www.sitewards.com/)
 * @licence     OSL-3.0
 * @package     Sitewards_Brands
 */
-->
<config>
	<modules>
		<Siteward_Brands>
			<version>0.0.1</version>
		</Siteward_Brands>
	</modules>

	<global>
		<helpers>
			<sitewards_brands>
				<class>Sitewards_Brands_Helper</class>
			</sitewards_brands>
		</helpers>
	</global>

	<admin>
		<routers>
			<sitewards_brands>
				<use>admin</use>
				<args>
					<module>Sitewards_Brands</module>
					<frontName>sitewardsbrands</frontName>
				</args>
			</sitewards_brands>
		</routers>
	</admin>
</config>